* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color {
  display: inline-block;
  border: black solid 1px;
  height: 30px;
  width: 30px;
}

#pixel-board {
  display: flex;
  width: 200px;
  height: 200px;
  flex-wrap: wrap;
}

.pixel {
  border: black solid 1px;
  width: 40px;
  height: 40px;
}