*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color{
    display: inline-block;
    border: black solid 1px;
    height: 30px;
    width: 30px;
}

#color-palette {
    width: 300px;
    height: 300px;
    border: blue solid 1px;
    display: inline-block;
}